.info {
  width: 317px;
  margin-inline: auto;

  .info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .name {
      font-size: 1.8rem;

      margin: 1rem 0 0;
    }
    .title {
      font-size: 1rem;

      margin: 0.1rem 0 0;
      color: #f3bf99;
    }
    .website {
      margin: 0.1rem 0 0;
      font-size: 0.9rem;
    }

    .btn-wrapper {
      display: flex;
      margin: 1rem 0;

      button {
        all: unset;
        margin-inline: 0.5rem;
        padding: 0.4rem 0.2rem;
        width: 115px;

        border-radius: 5px;

        cursor: pointer;
      }

      .btn-email {
        background: #ffffff;
        color: #374151;

        text-align: center;
      }

      .btn-linkedin {
        background: #5093e2;
        color: #fff;

        text-align: center;
      }
    }
  }
}
